  
.card{
    border-radius: 2px;
    background-color: violet
}

.search-list{
    border-radius: 5px;
    background-color: lightblue
}

.saveBook {
    border-radius: 15px;
    margin-left: 15px
}

.viewBook {
    border-radius: 5px;
    margin-left: 5px
}